#docker-compose.yml
services:
  app:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=worker_location_project.settings
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"